{% extends 'layouts/base.html' %}

{% block title %}Frequently Asked Questions{% endblock %}
{% block heading %}<h2 class="text-center">Frequently Asked Questions</h2>{% endblock %}

{% block body %}
    <div class="container sm-margin-top">
      <div class="row text-center mb-2">
      <div class="col-lg-8 offset-lg-2">
        <div class="card mb-2">
          <div class="card-body">
            <i class="fa fa-fw fa-4x fa-question-circle"></i>
            <h3>How do I play?</h3>
            <p class="text-muted card-text">Use the button to roll the dice and if the interface says
            you win, you win some cash.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="card mb-2">
          <div class="card-body">
            <i class="fa fa-fw fa-4x fa-question-circle"></i>
            <h3>How much do I win?</h3>
            <p class="text-muted card-text">The odds are 3 to 1, so if you bet $1, you win $3.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="card mb-2">
          <div class="card-body">
            <i class="fa fa-fw fa-4x fa-question-circle"></i>
            <h3>How old do I have to be to play?</h3>
            <p class="text-muted card-text">The minimum age is 21.</p>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
